# MySQL Check (Sample Notebook for preview ipynb)
> A tutorial of SQL Basics Scripting.

- toc: true 
- badges: true
- comments: true
- categories: [SQL]

# **Resources:**  
+ https://www.educba.com/data-science/data-science-tutorials/mysql-tutorial/  
+ https://www.w3schools.com/mysql/default.asp

In [ ]:
USE world;
SELECT * from city limit 5;

In [ ]:
# LECTURE: Creating a Database - Part I here we are creating Sales Database

CREATE DATABASE IF NOT EXISTS Sales;

CREATE SCHEMA IF NOT EXISTS Sales;

In [ ]:
USE Sales;

In [ ]:
CREATE TABLE sales
(
    purchase_number INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
    date_of_purchase DATE NOT NULL,
    customer_id INT,
    item_code VARCHAR(10) NOT NULL

);